     <ion-view view-title="Harry Hatti">
         <ion-nav-bar class="nav-title-slide-ios7 bar-custom">
          <ion-nav-back-button class="button-icon ion-arrow-left-c">
          </ion-nav-back-button>
         </ion-nav-bar>    
       <ion-content>

<div class="manul ">
	<div class="topName">	
	   		 <h1> Harry Hatti</h1>
	    	</div>	
            <div class="about main_col">
                 <div class="intro new_p">
			<div class="row table_col">
			  	<div class="col">
					Item
				</div>	
			  	<div class="col">
					Rate
				</div>	
			  	<div class="col">
					Qty
				</div>	
			 	<div class="col">
					Price
				</div>	
			</div>
			<div class="row custom_mar">
		  		 <div class="col">
					Divine Organic
		    		 </div>	
		 		 <div class="col">
					20
				</div>	
				<div class="col">
					202
				</div>	
				<div class="col cust_color">
					2
				</div>	

			</div>	        
			<div class="row">
			  	<div class="col">
					Divine
				</div>	
				<div class="col">
					20
				</div>	
				<div class="col">
					20
				</div>	
				<div class="col cust_color">
					2
				</div>	

			</div>	        
			<div class="row">
			  	<div class="col">
					Divine
				</div>	
				<div class="col">
					581
				</div>	
				<div class="col">
					52
				</div>	
				<div class="col cust_color">
					2 
				</div>	

			</div>	        
			<hr>
			<div class="row">
				<div class="col col-75">
					Total
				</div>	
				<div class=" col grid_col">
					$120.00
				</div>	
			</div>
			<div class="row">
				<div class="col col-75">
					GST(10%)
				</div>	
				<div class=" col grid_col">
					$12.00
				</div>	
			</div>
			<div class="row">
				<div class="col col-75">
					Discount
				</div>	
				<div class=" col grid_col">
					$15.00
				</div>	
			</div>
			<div class="row">
				<div class="col col-75 net_pay">
					Net Payment
				</div>	
				<div class="col cust_color">
					$122
				</div>	
			</div>


                 </div>
                 
                   <div class="intro">
		     <div class="main_colum">
			<div class="order_type">
				<p> Order types</p>
				
			</div>
			<div class="option_box">
				<select>
					<option>1</option>
				</select>
			</div>
		     </div>	
			<div class="Contact_detail">
				<p>Add Contact Details</p>

			</div>  
		   </div>            		
           </div>
                 
         <div class="confrim_order">
			<input class="confirm_button" type="button" value="Confirm Order">
		</div>
                 
            
            </div>       


</div>

</ion-content>
<style>
.main_colum
{
margin-left: 26%;
    margin-top: 3%;
    width: 100%;
}
.new_p
{
padding:0px !important;
}

.intro hr
{
color:#F2F2F2;
}
.confrim_order
{
margin-top: 1%;
	width:90%;
margin-left:2%;
}
.confirm_button
{
background: none repeat scroll 0 0 #2D7ECA;
    color: white;
    height: 41px;
    width: 46%;
}
.net_pay
{
font-weight:bold;
}
.option_box
{
margin-left: 5%;
width:50%;
}
.order_type
{
width:50%;
  margin: 0;  

}
.order_type p
{
float: left;
    margin: 0;
color:#A3A3A3;
}
.Contact_detail
{
margin-left: 5%;
    width: 90%;
}
.Contact_detail p
{
color:#A3A3A3;
}
.main_col
{
background:white;
}

.topName h1
{
  font-size: 16px;
    font-weight: bold;
    margin-left: 2%;
    margin-top: 5% !important;
}
.table_outer
{
width:100%;
}
.table_col
{
color:#A3A3A3;
background:#F2F2F2;
padding:0px !important;
}
.custom_mar
{
margin-top:3% !important;
}
.cust_color
{
color:#FF8D55;
}
.grid_col
{
color:#A3A3A3;
}
</style>

</ion-view>
