
<ion-view >
         <ion-nav-bar class="nav-title-slide-ios7 bar-custom">
          <ion-nav-back-button class="button-icon ion-arrow-left-c">
          </ion-nav-back-button>
         </ion-nav-bar> 
   
    <ion-content>
			<div class="bar bar-header item-input-inset search_bck">
		       <label class="item-input-wrapper back_col">
		        <i class="ion-search"></i>

		        <input type="search" placeholder="Search" ng-model="categories">
		       <i class="ion-ios-camera camera_col"></i>  
		          </label>
		 
		</div>

 </ion-content>

<style>
.search_bck
{
	background:none !important;
	border-radius:none;
	padding:0px !important;
}
.camera_col {
  color: #636363;
  font-size: 39px;
}
.bar.bar-header.item-input-inset.search_bck {
  background: none;
  color: #444;
}

.back_col {
  background: #C2C2C2;
}
    
</style>
</ion-view>