<ion-view title="Loading"> 
<ion-header-bar class="bar-positive">
      <h1 class="title">Radio Buttons</h1>
    </ion-header-bar>
             
    <ion-content>
      
      <div class="list">
        
        <div class="item item-divider"> 
          Clientside, Selected Value: {{ data.clientSide }}
        </div>
        
        <ion-radio ng-repeat="item in clientSideList"
                   ng-value="item.value"
                   ng-model="data.clientSide">
          {{ item.text }}
        </ion-radio>
     
      
    </ion-content>
      </ion-view>
