 <ion-view title="Loading"> 
    <ion-content animation="slide-left-right-ios7">
<ion-slide-box active-slide="myActiveSlide">
  <ion-slide>
    <div class="box blue"><h1>BLUE</h1></div>
  </ion-slide>
  <ion-slide>
    <div class="box yellow"><h1>YELLOW</h1></div>
  </ion-slide>
  <ion-slide>
    <div class="box pink"><h1>PINK</h1></div>
  </ion-slide>
  <ion-slide>
    <div class="box black"><h1>Black</h1></div>
  </ion-slide>
  <ion-slide>
    <div class="box red"><h1>Red</h1></div>
  </ion-slide>
  <ion-slide>
    <div class="box grey"><h1>Grey</h1></div>
  </ion-slide>
</ion-slide-box>
    

</ion-content>
</ion-view>
