/* Empty. Add your own CSS if you like */
.popup-title 
{
color:Green;
}

.popup-body
{
overflow:hidden !important;
}
.popup
{
width:auto !important;
}
.imagecss {
  float: left !important;
  height: 150px !important;
  overflow: hidden !important;
  width: 33% !important;
}
