<ion-view>
  <ion-nav-bar class="nav-title-slide-ios7 bar-custom">
      <ion-nav-back-button class="button-icon ion-arrow-left-c">
      </ion-nav-back-button>

    </ion-nav-bar> 

          <ion-nav-title class="title_service"> Complete Job
  </ion-nav-title>           
  <ion-content>
<br/>
          <div class="item ratethem_service">
			
            <div class="imagewidthrightpart_service">
			<div class="image_services"><img src="img/asset/contested.png"></div>
						<div class="image_line">Take a Picture of the lawn</div><br/><br/>
				</div>
			
				</div>
				<br/><br/>
				 <div class="ratethem_service" style="color:white;">
				<p class="h2only_font" >Hi Bruce</p>
				<p class="h2only_font" >We've just completed mowing your</p>
				<p class="h2only_font" >lawn see you next week.</p>
				</div>
				<br/>
				 <div class="ratethem_service" style="color:white;">
				<p class="h2only_font" style="color:white;">John</p></div>
				<input type="text" class="border_bottom_service" value="BC Cutters" style=" background-color: #3aa2e1 !important;
    border-bottom: 1px solid;  width: 80%;">
				
				<div class="reshedule_lawn">
					 <img ng-src="img/asset/place-bid_43.png" style="width: 18px;"></div>
				</div>	
				

 <div class="border_button" style="text-align:center;width:100%; margin: 50px auto;">
 <button class="button button-balanced">
SEND
</button>
</div>
 
  </ion-content>
</ion-view>
