 <ion-view view-title="Dashboard">
         

 <div class="list">
	 <div class="image_cross">
            <img src="img/asset/crosspop.png" class="imagewidthcircle" ng-click="popclose()">
           </div>
 <h2>Wednesday Oct 10</h2>
          <div class="item ratethem">
			  <div class="imagewidth">
            <img src="img/asset/avatar.jpg" class="imagewidthcircle">
           </div>
            <div class="imagewidthrightpart">
				<h3>BC Cutters</h3>
				<span>3.3 Avg. </span><span class="pop_font">7 Reviews </span>
				</div>
				<div class="border_bottom_pop"></div>
					
          </div>
          
             <div class="item ratethems">
			<div class="image_phone">
            <img src="img/asset/1.png" class="imagewidthcircle">
           </div>
            <div class="imagewidth_rightpart">
				<h3>$55</h3>
				
				</div>
				<div class="image_phone">
            <img src="img/asset/2.png" class="imagewidthcircle">
           </div>
            <div class="imagewidth_rightpart">
				
				<h3>212-1234-123</h3>
				
				</div>
				<div class="image_phone">
            <img src="img/asset/3.png" class="imagewidthcircle">
           </div>
            <div class="imagewidth_rightpart">
				
				<h3>info@bcutters.com</h3>
				</div>
			
					
          </div>
         
         
         
      </div> 

</ion-view>
