<ion-view>
  <ion-nav-bar class="nav-title-slide-ios7 bar-custom">
      <ion-nav-back-button class="button-icon ion-arrow-left-c">
      </ion-nav-back-button>

    </ion-nav-bar> 

          <ion-nav-title class="title_service"> Cancel Appointment
  </ion-nav-title>           
  <ion-content>
	  
	  <br/>
<div class="rate_service">
	<div class='services_color' style="text-align:left;">Let <font class="wght_font">Carolyn Franklin</font> know why you are cancelling</div>
	
		<br/>
		</div>

	
	
	<br/>
	<br/>
      <div class="item rate_service">
			
            <div class="imagewidthrightpart_service">
				<div>
				 <input type="radio" name="sex" value="male" >&nbsp; Homeowner cancelled service this week.
					<br>
					<br>
				<input type="radio" name="sex" value="female">&nbsp; I checked and it doen't need cut
					<br><br>
				<input type="radio" name="sex" value="female">&nbsp; Due to weather, no service is needed
					<br><br>
				<input type="radio" name="sex" value="female" checked>&nbsp; Other
				</div>
				</div>
				</div>
				<br/><br/>
				
				<input type="text" class="border_bottom_service" id="cancl" value="Explain reason for cancelation" style=" background-color: #3aa2e1 !important;
    border-bottom: 1px solid;  width: 80%;">
				
				<div class="reshedule_lawn">
					 <img ng-src="img/asset/place-bid_43.png" style="width: 18px;"></div>
				</div>	
				
				
				</div>	
				<br/><br/><br/>
				 <div class="border_buttons">
				<button class="button button-assertive complete_color_red" ng-click="cancel_appointment(cancel)">
				Cancel Appointment
				</button>
			</div>
  </ion-content>
</ion-view>
