<ion-view>


<!--  <div class="bar bar-header bar-balanced">
<img ng-src="img/asset/auctions_03.png" class="logo_green">


</div>  -->
       
  <ion-content style="background:#fff;">
	<div class="logo_align_dash" style="margin-top:0px;background-color:#9FC54D;text-align:left;">
     <img ng-src="img/asset/greenpal-mobile-logo.png" style="margin-left:10px;margin-top:10px;">
   </div>

   <div class="row" style="background-color:#9FC54D;">
      <div ng-click="changetab('first')" class="col col-33 pointer">
        <div ng-class="{'col-demo':tab=='first'}"><img ng-src="img/asset/place-bid_23.png" class="imge_logo_size"></div>
      </div>
      <div ng-click="changetab('second')" class="col col-33 pointer">
        <div ng-class="{'col-demo':tab=='second'}"> <img ng-src="img/asset/notifications_23.png" class="imge_logo_size"></div>
      </div>
		<div ng-click="changetab('third')" class="col col-33 pointer">
        <div ng-class="{'col-demo':tab=='third'}"> <img ng-src="img/asset/place-bid_11.png" class="imge_logo_size"></div>
      </div>
   </div> 
   <hr>

	  <div class="all_borders">
	  
	  <div data-tags="chevron" data-pack="ios" class="all_border_time ion-ios-arrow-down"> </div>
<div class="ratethems_service_all">
	
	<div class="list">
		<p class="strip_pages">Today</p>
</div>

	</div>
		  </div>
	  <div class="all_border">
	 	<div class="all_border_time"></div>
<div class="ratethems_service_all">
	
	<div class="list">

    <a class="item" href="#">
   <div class="width_30_percent"><img ng-src="img/asset/place-bid_07.png"></div>
   <div style="width:60%;float:left;">
      <h2 class="h2p">Venkman</h2>
      <p class="h2only">Back off, man. I'm a scientist.</p></div>
      <div class="width_30_percent"> <img ng-src="img/asset/notifications_27.png" class="img_not"></div>
           
    </a>

	

</div>

	</div>

  </div>
  </ion-content>
</ion-view>
