<ion-view view-title="Index">
  <ion-nav-bar class="nav-title-slide-ios7 bar-custom">
      <ion-nav-back-button class="button-icon ion-arrow-left-c">
      </ion-nav-back-button>
    </ion-nav-bar>
  
    <ion-content class="has-header">
     <ion-list>
     <!--   <ion-item nav-clear menu-close ng-click= "gotourl('dash')">
          Dashboard
        </ion-item>
        <ion-item nav-clear menu-close ng-click= "gotourl('new_auction')">
         New Auction
        </ion-item>
        <ion-item nav-clear menu-close ng-click= "gotourl('my_bids')">
         My Bids
        </ion-item>
        <ion-item nav-clear menu-close ng-click= "gotourl('appointment')">
         Appointments
        </ion-item>
        <ion-item nav-clear menu-close ng-click= "gotourl('my_greenpal')">
         My greenpal
        </ion-item>-->
       <ion-item nav-clear menu-close ng-click= "gotourl('login')">
         Login
        </ion-item>
          <!--<ion-item nav-clear menu-close ng-click= "gotourl('approve')">
         Approve
        </ion-item>
           <ion-item nav-clear menu-close ng-click= "gotourl('reset_password')">
        Reset Password
        </ion-item>
        <ion-item nav-clear menu-close ng-click= "gotourl('card_secure')">
        Card Secure
        </ion-item>
        <ion-item nav-clear menu-close ng-click= "gotourl('lawn_cut')">
        lawn_cut
        </ion-item>
        <!-- <ion-item nav-clear menu-close ng-click= "gotourl('secure_date')">
         secure_date
        </ion-item>
         <ion-item nav-clear menu-close ng-click= "gotourl('provider_detail')">
        provider_detail
        </ion-item>
        <ion-item nav-clear menu-close ng-click= "gotourl('dispute_cut')">
      dispute_cut
        </ion-item>
        <ion-item nav-clear menu-close ng-click= "gotourl('specific')">
      specific_date
        </ion-item>
        <ion-item nav-clear menu-close ng-click= "gotourl('no_appointment')">
      no_appointment
        </ion-item>
        
        
       <ion-item nav-clear menu-close ng-click= "gotourl('service')">
     service
        </ion-item>
        <ion-item nav-clear menu-close ng-click= "gotourl('complaint')">
		Address Complaint
        </ion-item>
        <ion-item nav-clear menu-close ng-click= "gotourl('bid')">
		Place Bid
        </ion-item>
         <ion-item nav-clear menu-close ng-click= "gotourl('all')">
		All
        </ion-item>
         <ion-item nav-clear menu-close ng-click= "gotourl('day')">
		Days
        </ion-item>
         <ion-item nav-clear menu-close ng-click= "gotourl('bid_detail')">
		Bid Detail
        </ion-item>
        <ion-item nav-clear menu-close ng-click= "gotourl('overdue')">
		Due
        </ion-item>
         <ion-item nav-clear menu-close ng-click= "gotourl('reschedule')">
		Reschedule Lawn
        </ion-item>
        <ion-item nav-clear menu-close ng-click= "gotourl('complete')">
		Complete
        </ion-item>-->
        
        <ion-item nav-clear menu-close ng-click= "gotourl('log_out')">
        Log Out
        </ion-item>
        
      </ion-list>
    </ion-content>
 
 </ion-view>
